<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <!-- ADSENSE LAYOUT -->
                                <div class="page-header">
                                    <h3 class="page-title"> Bimtek </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Bimtek</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Edit</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row ">
                                    <div class="col-12 grid-margin stretch-card add-data" hidden="true">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Edit Bimtek</h4>
                                                <!-- <p class="card-description"> Basic form elements </p> -->
                                                <form class="forms-sample" action="/admin/bimtek" method="POST">
                                                    <div class="form-group">
                                                        <label>Sub Bimtek</label>
                                                        <select class="form-control" name="bimtekSubId" id="">
                                                            <% var i=1; subBimtek.forEach(function (val){ %>
                                                                <option value="<%=val.id %>">
                                                                    <%= val.sub_bimtek %>
                                                                </option>
                                                                <%});%>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Bimtek</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>

                                                    <button type="submit"
                                                        class="btn btn-primary mr-2">Tambahkan</button>
                                                    <button type="button" class="btn btn-dark"
                                                        onclick="showAddData(false)">Batal</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row grid-margin">
                                                    <div class="col-10">
                                                        <h4 class="card-title todo-list-input">
                                                            <%= edit.sub_bimtek %>
                                                        </h4>
                                                    </div>
                                                </div>

                                                <%if (message) { %>
                                                    <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                        role="alert">
                                                        <%= message %>
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>

                                                        <div class="preview-list">

                                                            <% var i=1; edit.bimteks.forEach(function (val){ %>

                                                                <div class="preview-item border-bottom">
                                                                    <div class="preview-thumbnail d-sm-flex">
                                                                        <div class="preview-icon bg-warning"
                                                                            style="width: 20px; height: 20px; padding: 2px 2px 0px 2px; cursor: pointer;"
                                                                            data-id="<%=`${val.id}`%>"
                                                                            data-title="<%=`${val.title}`%>"
                                                                            onclick="edit(this)">
                                                                            <i class="mdi mdi-pencil"
                                                                                style="font-size: 1rem;"></i>
                                                                        </div>&nbsp;
                                                                        <div class="preview-icon bg-danger" style="width: 20px;
                                                                                height: 20px; cursor: pointer;
                                                                                padding: 2px 2px 0px 2px;"
                                                                            data-id="<%=`${val.id}`%>"
                                                                            onclick="deleted(this)">
                                                                            <i class="mdi mdi-delete"
                                                                                style="font-size: 1rem;"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="preview-item-content d-sm-flex flex-grow">
                                                                        <div class="flex-grow">
                                                                            <p class="text-muted mb-0 mt-1">
                                                                                <%= i++ %>. <%= val.title %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <%});%>
                                                        </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../../base/footer'); %>
                                <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
        </div>

        <%- include('../../base/assetsJs'); %>
            <script src="/assets/admin/js/sweetalert.min.js"></script>
            <script>
                const addData = $('.add-data');
                const formElement = $(addData).find("form")[0];

                $(document).ready(function () {
                    showAddData(null);
                });

                function showAddData(param) {
                    const isSHow = localStorage.getItem('add-Data');
                    $(addData).find('form')[0].reset();
                    if (isSHow == 'true') {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == true) {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == false) {
                        $(addData).attr('hidden', true);
                    }
                    $(formElement).attr('action', `/admin/bimtek`);
                    localStorage.setItem('add-Data', false);
                }

                function deleted(element) {
                    swal({
                        title: "Hapus Bimtek Ini?",
                        text: "Jadwal bimtek yang berhubungan akan ikut terhapus!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/admin/bimtek/${$(element).attr("data-id")}`,
                                method: "DELETE",
                                success: function (data) {
                                    swal("Good Job!", data.message, "success").then(
                                        $(element).closest(".preview-item.border-bottom")[0].remove()
                                    );

                                },
                                error: function (xhr) {
                                    swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                    console.log(xhr.status)
                                }
                            });
                        } else {
                            swal("Hapus Dibatalkan!");
                        }
                    });
                }

                function edit(element) {
                    const ele = $(element).closest('form')[0];

                    const id = $(element).attr("data-id");
                    const title = $(element).attr("data-title");


                    $(`input[name='title']`).val(title);
                    $(formElement).attr('action', `/admin/bimtek/${id}`);
                    window.scrollTo(0, 0);


                    $('.add-data').removeAttr('hidden');
                }
            </script>
            <!-- End custom js for this page -->
    </body>

</html>