<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <!-- ADSENSE LAYOUT -->
                                <div class="page-header">
                                    <h3 class="page-title"> Bimtek </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Jadwal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Bimtek</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row ">

                                    <div class="col-12 grid-margin stretch-card add-data" hidden="true">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Tambah Bimtek</h4>
                                                <!-- <p class="card-description"> Basic form elements </p> -->
                                                <form class="forms-sample" action="/admin/bimtek" method="POST">
                                                    <% if (subBimtek.length>0) { %>
                                                        <div class="form-group">
                                                            <label>Sub Bimtek</label>
                                                            <select class="form-control" name="bimtekSubId" id="">
                                                                <% var i=1; subBimtek.forEach(function (val){ %>
                                                                    <option value="<%=val.id %>">
                                                                        <%= val.sub_bimtek %>
                                                                    </option>
                                                                    <%});%>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Bimtek</label>
                                                            <input type="text" class="form-control" name="title"
                                                                required>
                                                        </div>

                                                        <button type="submit"
                                                            class="btn btn-primary mr-2">Tambahkan</button>
                                                        <button type="button" class="btn btn-dark"
                                                            onclick="showAddData(false)">Batal</button>
                                                        <% } else { %>

                                                            <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                                role="alert">
                                                                Isikan Sub Bimtek terlebih dahulu
                                                            </div>

                                                            <% } %>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row grid-margin border-bottom">
                                                    <div class="col-10">
                                                        <h4 class="card-title todo-list-input">Daftar Bimbingan
                                                            Teknis
                                                        </h4>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="button"
                                                            class="btn btn-outline-primary btn-icon-text"
                                                            onclick="showAddData(true)">
                                                            <i
                                                                class="mdi mdi-file-check btn-icon-prepend"></i>Tambah</button>
                                                    </div>
                                                </div>
                                                <%if (message) { %>
                                                    <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                        role="alert">
                                                        <%= message %>
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>

                                                        <% var i=1; subBimtek.forEach(function (val){ %>
                                                            <%if (val.bimteks.length> 0) { %>
                                                                <div class="border-bottom mb-3">
                                                                    <div class="row ">
                                                                        <div class="col-10">
                                                                            <h4 class="card-title todo-list-input">
                                                                                <%= `${val.sub_bimtek}` %>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class="preview-thumbnail d-sm-flex">
                                                                                <button type="button"
                                                                                    class="btn btn-outline-primary btn-icon-text"
                                                                                    onclick="window.location=`/admin/bimtek/<%=val.id%>/edit`">
                                                                                    <i
                                                                                        class="mdi mdi-file-check btn-icon-prepend"></i>Edit</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <% var i=1; val.bimteks.forEach(function (val2){
                                                                            %>
                                                                            <li>
                                                                                <%= val2.title %>
                                                                            </li>

                                                                            <%})%>
                                                                    </ul>
                                                                </div>
                                                                <%}});%>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../../base/footer'); %>
                                <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
        </div>

        <%- include('../../base/assetsJs'); %>
            <script src="/assets/admin/js/sweetalert.min.js"></script>
            <script>
                const addData = $('.add-data');
                const formElement = $(addData).find("form")[0];

                $(document).ready(function () {
                    showAddData(null);
                });

                function showAddData(param) {
                    const isSHow = localStorage.getItem('add-Data');
                    $(addData).find('form')[0].reset();
                    if (isSHow == 'true') {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == true) {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == false) {
                        $(addData).attr('hidden', true);
                    }
                    $(formElement).attr('action', `/admin/bimtek`);
                    localStorage.setItem('add-Data', false);
                }

                function deleted(element) {
                    swal({
                        title: "Hapus Bimtek Ini?",
                        text: "Jadwal bimtek yang berhubungan akan ikut terhapus!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/admin/bimtek/${$(element).attr("data-id")}`,
                                method: "DELETE",
                                success: function (data) {
                                    swal("Good Job!", data.message, "success").then(
                                        $(element).closest(".preview-item.border-bottom")[0].remove()
                                    );

                                },
                                error: function (xhr) {
                                    swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                    console.log(xhr.status)
                                }
                            });
                        } else {
                            swal("Hapus Dibatalkan!");
                        }
                    });
                }

                function edit(element) {
                    const ele = $(element).closest('form')[0];

                    const id = $(element).attr("data-id");
                    const title = $(element).attr("data-title");


                    $(`input[name='title']`).val(title);
                    $(formElement).attr('action', `/admin/bimtek/${id}`);
                    window.scrollTo(0, 0);


                    $('.add-data').removeAttr('hidden');
                }
            </script>
            <!-- End custom js for this page -->
    </body>

</html>