<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <!-- ADSENSE LAYOUT -->
                                <div class="page-header">
                                    <h3 class="page-title"> Jadwal </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <!-- <li class="breadcrumb-item"><a href="/admin/schedule">Schedule</a></li> -->
                                            <li class="breadcrumb-item active" aria-current="page">Jadwal</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row">

                                    <div class="col-12 grid-margin stretch-card add-data" hidden="true">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Tambah Jadwal Bimtek</h4>
                                                <!-- <p class="card-description"> Basic form elements </p> -->
                                                <form class="forms-sample" action="/admin/schedule" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Pilih Bimbingan Teknis</label>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" name="statusBimtek"
                                                                            onchange="withBimtek(this.checked)"
                                                                            class=" form-check-input" />
                                                                        Dengan Bimtek
                                                                        <i class="input-helper"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="form-group">
                                                                <label></label>
                                                                <select class="form-control" name="bimtekId" disabled>
                                                                    <option selected disabled>
                                                                        Pilih Bimtek
                                                                    </option>
                                                                    <% bimtek.forEach(function (value){ %>
                                                                        <option value="<%=value.id %>">
                                                                            <%=value.title %>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-2">
                                                            <label>Kota Pelaksanaan</label>
                                                            <select class="form-control" name="eventCity">
                                                                <% location.forEach(function (value){ %>
                                                                    <option value="<%=value.location %>">
                                                                        <%=value.location %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Lokasi</label>
                                                            <div>
                                                                <input type="text" name="eventLocation" required
                                                                    class="form-control" placeholder="Lokasi" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label>Pilih Paket Layanan</label>
                                                            <select class="form-control" name="pack"
                                                                onchange="setHotel(this.value)">
                                                                <option value="3">
                                                                    Paket Kombinasi
                                                                </option>
                                                                <% pack.forEach(function (value){ %>
                                                                    <option value="<%=value.id %>" <%=value.id=='2'
                                                                        ? 'selected' : '' %>>
                                                                        <%=value.pack %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label>Tanggal Mulai Pelaksanaan</label>
                                                                <div>
                                                                    <input type="date" name="dateStart" required
                                                                        class="form-control" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label>Tanggal Selesai Pelaksanaan</label>
                                                                <div>
                                                                    <input type="date" name="dateFinish" required
                                                                        class="form-control" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 hotelPack" hidden>
                                                            <div class="form-group">
                                                                <label>Hari CheckIn</label>
                                                                <select class="form-control" name="checkIn">
                                                                    <% dayNames.forEach(function (day){ %>
                                                                        <option value="<%=day %>">
                                                                            <%=day%>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 hotelPack" hidden>
                                                            <div class="form-group">
                                                                <label>Hari CheckOut</label>
                                                                <select class="form-control" name="checkOut">
                                                                    <% dayNames.forEach(function (day){ %>
                                                                        <option value="<%=day %>">
                                                                            <%=day%>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit"
                                                        class="btn btn-primary mr-2">Tambahkan</button>
                                                    <button type="button" class="btn btn-dark"
                                                        onclick="showAddData(false)">Batal</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row grid-margin border-bottom">
                                                    <div class="col-10">
                                                        <h4 class="card-title">Daftar Jadwal Bimbingan Teknis</h4>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="button"
                                                            class="btn btn-outline-primary btn-icon-text"
                                                            onclick="showAddData(true)">
                                                            <i
                                                                class="mdi mdi-file-check btn-icon-prepend"></i>Tambah</button>
                                                    </div>
                                                </div>

                                                <%if (message) { %>
                                                    <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                        role="alert">
                                                        <%= message %>
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>


                                                        <div class="preview-list">

                                                            <% var i=1; schedule.forEach(function (val){ %>
                                                                <% let bimtek=val.bimtek; %>
                                                                    <div class="preview-item border-bottom">
                                                                        <div class="preview-thumbnail d-sm-flex">
                                                                            <div class="preview-icon bg-warning"
                                                                                style="width: 20px;
                                                                                height: 20px; padding: 2px 2px 0px 2px;"
                                                                                onclick="window.location=`/admin/schedule/<%=val.id%>/edit`">
                                                                                <i class="mdi mdi-pencil"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>&nbsp;
                                                                            <div class="preview-icon bg-danger" style="width: 20px;
                                                                                height: 20px;
                                                                                padding: 2px 2px 0px 2px;"
                                                                                data-id="<%=`${val.id}`%>"
                                                                                onclick="deleted(this)">
                                                                                <i class="mdi mdi-delete"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>
                                                                            &nbsp;
                                                                            <!-- <div class="preview-icon bg-success" style="width: 20px;
                                                                                height: 20px;
                                                                                padding: 2px 2px 0px 2px;"
                                                                                data-id="<%=`${val.id}`%>"
                                                                                onclick="finish(this)">
                                                                                <i class="mdi mdi-check"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div> -->
                                                                        </div>
                                                                        <div
                                                                            class="preview-item-content d-sm-flex flex-grow">
                                                                            <div class="flex-grow">
                                                                                <h6 class="preview-subject">
                                                                                    <%= `${i++}. ${val.bimtekId=='0'
                                                                                        ? 'Tanpa Bimtek' : bimtek.title
                                                                                        }`%>
                                                                                </h6>
                                                                                <p class="text-muted mb-0">
                                                                                    <%=`${val.eventCity},
                                                                                        ${val.eventLocation}`%>
                                                                                </p>
                                                                            </div>
                                                                            <div
                                                                                class="me-auto text-sm-right pt-2 pt-sm-0">
                                                                                <p class="text-muted">
                                                                                    <%= `${DateFormat(val.dateStart)} -
                                                                                        ${DateFormat(val.dateFinish)}`%>
                                                                                </p>
                                                                                <p class="text-muted mb-0">
                                                                                    <%- val.servicePackId !=2 ?
                                                                                        `CheckIn/CheckOut<br>
                                                                                        ${val.checkIn}/${val.checkOut}`
                                                                                        : 'Tanpa Menginap' %>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <%});%>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- content-wrapper ends -->
                                <!-- partial:partials/_footer.html -->
                                <%- include('../../base/footer'); %>
                                    <!-- partial -->
                            </div>
                            <!-- main-panel ends -->
                        </div>
                        <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->

                <%- include('../../base/assetsJs'); %>
                    <script src="/assets/admin/js/sweetalert.min.js"></script>
                    <script>
                        const addData = $('.add-data');
                        const formTitle = $(addData).find("card-title").text();
                        const formElement = $(addData).find("form")[0];

                        $(document).ready(function () {
                            showAddData(null);
                        });

                        function showAddData(param) {
                            const isSHow = localStorage.getItem('add-Data');
                            $(addData).find('form')[0].reset();
                            if (isSHow == 'true') {
                                window.scrollTo(0, 0);
                                $(addData).removeAttr('hidden');
                            } else if (param == true) {
                                window.scrollTo(0, 0);
                                $(addData).removeAttr('hidden');
                            } else if (param == false) {
                                $(addData).attr('hidden', true);
                            }
                            $(formElement).attr('action', `/admin/schedule`);
                            localStorage.setItem('add-Data', false);
                        }

                        function deleted(element) {
                            swal({
                                title: "Hapus Jadwal Ini?",
                                text: "Data yang dihapus tidak dapat dikembalikan lagi!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            }).then((willDelete) => {
                                if (willDelete) {
                                    $.ajax({
                                        url: `/admin/schedule/${$(element).attr("data-id")}`,
                                        method: "DELETE",
                                        success: function (data) {
                                            swal("Good Job!", data.message, "success").then(
                                                $(element).closest(".preview-item.border-bottom")[0].remove()
                                            );

                                            window.scrollTo(0, 0);
                                        },
                                        error: function (xhr) {
                                            swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                            console.log(xhr.status)
                                        }
                                    });
                                } else {
                                    swal("Hapus Dibatalkan!");
                                }
                            });
                        }

                        function finish(element) {
                            swal({
                                title: "Selesaikan Jadwal Ini?",
                                text: "Jadwal yang selesai tidak akan ditampilkan lagi!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            }).then((willDelete) => {
                                if (willDelete) {
                                    $.ajax({
                                        url: `/api/scheduleCLose/${$(element).attr("data-id")}`,
                                        method: "POST",
                                        data: {
                                            status: "close"
                                        },
                                        success: function (data) {
                                            swal("Good Job!", data.message, "success").then(
                                                $(element).closest(".preview-item.border-bottom")[0].remove()
                                            );

                                            window.scrollTo(0, 0);
                                        },
                                        error: function (xhr) {
                                            swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                            console.log(xhr.status)
                                        }
                                    });
                                } else {
                                    swal("Hapus Dibatalkan!");
                                }
                            });
                        }

                        const inputBimtek = $("select[name='bimtekId']");
                        function withBimtek(boolean) {
                            if (boolean) {
                                inputBimtek.removeAttr('disabled');
                            } else {
                                inputBimtek.attr('disabled', true);
                            }
                        }

                        const hotelPack = $(".hotelPack");
                        function setHotel(idPack) {
                            hotelPack.find("input").val('');
                            if (idPack == '1' || idPack == '3') {
                                hotelPack.removeAttr('hidden');
                            } else {
                                hotelPack.attr('hidden', true);
                            }

                        }
                    </script>

    </body>

</html>