<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <!-- ADSENSE LAYOUT -->
                                <div class="page-header">
                                    <h3 class="page-title"> Jadwal </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Jadwal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Edit</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row">

                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Ubah Jadwal Bimtek</h4>
                                                <!-- <p class="card-description"> Basic form elements </p> -->
                                                <form class="forms-sample" action="/admin/schedule/<%=schedule.id%>"
                                                    method="POST">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Pilih Bimbingan Teknis</label>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" name="statusBimtek"
                                                                            onchange="withBimtek(this.checked)"
                                                                            class=" form-check-input" <%-
                                                                            schedule.bimtekId!=0 && 'checked' %>>
                                                                        Dengan Bimtek
                                                                        <i class="input-helper"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="form-group">
                                                                <label></label>
                                                                <select class="form-control" name="bimtekId" <%-
                                                                    schedule.bimtekId==0 && 'disabled' %>>
                                                                    <option selected disabled>
                                                                        Pilih Bimtek
                                                                    </option>
                                                                    <% bimtek.forEach(function (value){ %>
                                                                        <option value="<%=value.id %>" <%-
                                                                            schedule.bimtekId==value.id && 'selected' %>
                                                                            >
                                                                            <%=value.title %>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-2">
                                                            <label>Kota Pelaksanaan</label>
                                                            <select class="form-control" name="eventCity">
                                                                <% location.forEach(function (value){ %>
                                                                    <option value="<%=value.location %>" <%-
                                                                        schedule.eventCity==value.location && 'selected'
                                                                        %>>
                                                                        <%=value.location %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Lokasi</label>
                                                            <div>
                                                                <input type="text" name="eventLocation" required
                                                                    class="form-control" placeholder="Lokasi"
                                                                    value="<%= schedule.eventLocation %> " />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label>Pilih Paket Layanan</label>
                                                            <select class="form-control" name="pack"
                                                                onchange="setHotel(this.value)">
                                                                <option value="3" <%- schedule.servicePackId==3
                                                                    && 'selected' %>>
                                                                    Paket Kombinasi
                                                                </option>
                                                                <% pack.forEach(function (value){ %>
                                                                    <option value="<%=value.id %>" <%-
                                                                        schedule.servicePackId==value.id && 'selected'
                                                                        %>>
                                                                        <%=value.pack %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label>Tanggal Mulai Pelaksanaan</label>
                                                                <div>
                                                                    <input type="date" name="dateStart" required
                                                                        class="form-control"
                                                                        value="<%- convertDate(schedule.dateStart)%>" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label>Tanggal Selesai Pelaksanaan</label>
                                                                <div>
                                                                    <input type="date" name="dateFinish" required
                                                                        class="form-control"
                                                                        value="<%- convertDate(schedule.dateFinish)%>" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 hotelPack" <%- schedule.servicePackId==2
                                                            && 'hidden' %>>
                                                            <div class="form-group">
                                                                <label>Hari CheckIn</label>
                                                                <select class="form-control" name="checkIn">
                                                                    <% dayNames.forEach(function (day){ %>
                                                                        <option value="<%=day %>" <%-
                                                                            schedule.checkIn==day && 'selected' %>>
                                                                            <%=day%>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 hotelPack" <%- schedule.servicePackId==2
                                                            && 'hidden' %>>
                                                            <div class="form-group">
                                                                <label>Hari CheckOut</label>
                                                                <select class="form-control" name="checkOut">
                                                                    <% dayNames.forEach(function (day){ %>
                                                                        <option value="<%=day %>" <%-
                                                                            schedule.checkOut==day && 'selected' %>>
                                                                            <%=day%>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary mr-2">Ubah</button>
                                                    <button type="reset" class="btn btn-dark"
                                                        onclick="window.location='/admin/schedule'">Batal</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- content-wrapper ends -->
                                <!-- partial:partials/_footer.html -->
                                <%- include('../../base/footer'); %>
                                    <!-- partial -->
                            </div>
                            <!-- main-panel ends -->
                        </div>
                        <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->

                <%- include('../../base/assetsJs'); %>
                    <!-- <script src="/assets/admin/js/sweetalert.min.js"></script> -->
                    <script>

                        const inputBimtek = $("select[name='bimtekId']");
                        function withBimtek(boolean) {
                            if (boolean) {
                                inputBimtek.removeAttr('disabled');
                            } else {
                                inputBimtek.attr('disabled', true);
                            }
                        }

                        const hotelPack = $(".hotelPack");
                        function setHotel(idPack) {
                            hotelPack.find("input").val('');
                            if (idPack == '1' || idPack == '3') {
                                hotelPack.removeAttr('hidden');
                            } else {
                                hotelPack.attr('hidden', true);
                            }

                        }
                    </script>

    </body>

</html>