<script src="/assets/admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!--  <script src="/assets/admin/vendors/chart.js/Chart.min.js"></script> -->
<!--  <script src="/assets/admin/vendors/progressbar.js/progressbar.min.js"></script> -->
<!--  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
 <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->
<script src="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/admin/js/off-canvas.js"></script>
<script src="/assets/admin/js/hoverable-collapse.js"></script>
<script src="/assets/admin/js/misc.js"></script>
<script src="/assets/admin/js/settings.js"></script>
<script src="/assets/admin/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/admin/js/dashboard.js"></script>
<script>
    function showAdd(url) {
        localStorage.setItem('add-Data', true);
        window.location.href = url;
    }
</script>
<!-- End custom js for this page -->