<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets/admin/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/admin/images/lak-icon.png"
                alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <!-- <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="/assets/admin/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Henry Klein</h5>

                    </div>
                </div> -->
                <!-- <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a> -->
                <!-- <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                    aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                        </div>
                    </a>
                </div> -->
            </div>
        </li>
        <!-- <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li> -->
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Beranda</span>
            </a>
        </li> -->

        <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/bimtek">
                <span class="menu-icon">
                    <i class="mdi mdi-projector-screen"></i>
                </span>
                <span class="menu-title">Bimtek</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/schedule">
                <span class="menu-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>
                <span class="menu-title">Jadwal</span>
            </a>
        </li>

        <!-- <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-bimtek" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-projector-screen"></i>
                </span>
                <span class="menu-title">Bimtek</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-bimtek">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Tambah Data</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Lihat</a></li>
                </ul>
            </div>
        </li> -->

        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-news" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-newspaper"></i>
                </span>
                <span class="menu-title">Publikasi</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-news">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/publication/create">Tambah Data</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/publication">Lihat</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/profile">
                <span class="menu-icon">
                    <i class="mdi mdi-settings-box"></i>
                </span>
                <span class="menu-title">Profil Website</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/gallery">
                <span class="menu-icon">
                    <i class="mdi mdi-message-image"></i>
                </span>
                <span class="menu-title">Galeri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/default">
                <span class="menu-icon">
                    <i class="mdi mdi-database"></i>
                </span>
                <span class="menu-title">Data Bawaan</span>
            </a>
        </li>

    </ul>
</nav>