<!-- <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="one_quarter first">
            <h6 class="heading">Lembaga Akuntasi Keuangan</h6>
            <nav>
                <ul class="nospace linklist">
                    <li><a href="/">Beranda</a></li>
                    <li><a href="/about">Profil</a></li>
                    <li><a href="/publication">Publikasi</a></li>
                    <li><a href="/bimtek">Materi Bimtek</a></li>
                    <li><a href="/schedule">Jadwal Bimtek</a></li>
                    <li><a href="/galery">Galeri</a></li>
                    <li><a href="/admin/schedule">Admin</a></li>
                </ul>
            </nav>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Galeri</h6>
            <ul class="nospace clear latestimg">
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            </ul>
        </div>
        <div class="two_quarter">
            <h6 class="heading">Daftar Bimtek</h6>
            <p class="nospace btmspace-15">Velit laoreet et scelerisque facilisis lacinia ut sapien in vehicula.</p>
            <form action="#" method="post">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <select class="btmspace-15" type="text" value="" placeholder="Name">
                        <option selected value="" disabled>Pilih Bimtek</option>
                    </select>
                    <input class="btmspace-15" type="text" value="" placeholder="Name">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <input class="btmspace-15" type="text" value="" placeholder="Telepon">
                    <button class="btn" type="submit" value="submit">Daftar</button>
                </fieldset>
            </form>
        </div>

    </footer>
</div> -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2022 - Lembaga Akuntansi Keuangan - <a
                href="https://www.lembagaakuntansikeuangan.com">lembagaakuntansikeuangan.com</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                title="Free Website Templates">OS Templates</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.backtotop.js"></script>
<script src="/assets/js/jquery.mobilemenu.js"></script>
<script src="/assets/js/animated-event-calendar/dist/jquery.simple-calendar.js"></script>


<script>

    $(function () {
        const container = $("#callendar").simpleCalendar({
            onMonthChange: function (month, year) {
                $('.day.has-event').closest('td').css('background-color', '#e9a098');
            },
        });
        var $calendar = container.data('plugin_simpleCalendar')

        $.ajax({
            url: `/api/bimtek`,
            method: "GET",
            success: function (data) {
                const newEvent = [];
                console.log(data)
                var bar = new Promise((resolve, reject) => {
                    data.data.forEach(ele => {
                        let obj = {};
                        obj = {
                            startDate: ele.dateStart,
                            endDate: ele.dateFinish,
                            summary: ele.eventLocation + ', ' + ele.eventCity,
                        }
                        newEvent.push(obj);
                    });
                    $calendar.setEvents(newEvent);
                    resolve();
                });
                bar.then(() => {
                    const tdEvent = $('.day.has-event').closest('td');
                    tdEvent.css('background-color', '#e9a098');
                });
            },
            error: function (xhr) {
                if (xhr.status == 500) {
                    alert('tanggal gagal di load');
                };
            }
        });
    });

    $(document).ready(function () {

        const pathArray = window.location.pathname.split('/');
        const setActive = pathArray[1] === "" ? "home" : pathArray[1];
        $(`nav#mainav li.${setActive}`).addClass('active');
        const string = $(`li.${setActive} a`).text();
        $('#breadcrumb ul').append(`<li><a href="/${setActive}">${string}</a></li>`)

    });
</script>