<!DOCTYPE html>

<!--
Template Name: Pentwist
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
    <title>
        <%= profile['title'] %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/js/animated-event-calendar/dist/simple-calendar.css">
    <link rel="shortcut icon" href="/assets/admin/images/lak-icon.png" />


</head>