<div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/bimtek.jpeg');">
    <div id="breadcrumb" class="hoc clear">

        <ul>
            <li><a href="/">Beranda</a></li>
        </ul>

    </div>
</div>