<div class="wrapper row0">
    <section id="ctdetails" class="hoc clear">

        <ul class="nospace clear">
            <li class="one_third first">
                <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span>Hubungi Kami:
                        <strong>
                            <%= code(profile['phone']) %>
                        </strong></span></div>
            </li>
            <li class="one_third">
                <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span>Hubungi email kami:
                        <strong>
                            <%- emailAddBr(profile['email']) %>
                        </strong></span></div>
            </li>
            <li class="one_third">
                <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a>
                    <span>Alamat:
                        <strong>
                            <%= profile['address'] %> <br>
                                <%= `Kota ${profile['city']}, ${profile['district']}` %><br>
                        </strong>
                    </span>
                </div>
            </li>
            <!-- <li class="one_quarter">
                <a class="btn" href="#"><strong>PENDAFTARAN</strong></a>
            </li> -->
        </ul>

    </section>
</div>