<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">

            <h1><a href="index.html">
                    <%= profile['title'] %>
                </a></h1>

        </div>
        <nav id="mainav" class="fl_right">

            <ul class="clear">
                <li class="home"><a href="/">Beranda</a></li>
                <li class="about"><a href="/about">Profil</a></li>
                <li class="publication"><a href="/publication">Publikasi</a></li>
                <li class="bimtek"><a href="/bimtek">Materi Bimtek</a></li>
                <li class="schedule"><a href="/schedule">Jadwal Bimtek</a></li>
                <li class="galery"><a href="/galery">Galeri</a></li>
                <!-- <li><a class="drop" href="#">Pages</a>
                    <ul>
                        <li><a href="pages/gallery.html">Gallery</a></li>
                        <li><a href="pages/full-width.html">Full Width</a></li>
                        <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                        <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                        <li><a href="pages/basic-grid.html">Basic Grid</a></li>
                        <li><a href="pages/font-icons.html">Font Icons</a></li>
                    </ul>
                </li>
                <li><a class="drop" href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Level 2</a></li>
                        <li><a class="drop" href="#">Level 2 + Drop</a>
                            <ul>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Level 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Text</a></li>
                <li><a href="#">Link Text</a></li>
                <li><a href="#">Link Text</a></li> -->
            </ul>

        </nav>
    </header>
</div>