<div class="sidebar one_third">

    <div class="sdb_holder">
        <div id="callendar"></div>
    </div>

    <div class="sdb_holder">
        <a class="btn" target="_blank"
            href="<%= `https://api.whatsapp.com/send?phone=${profile['phone']}&text=Halo, saya ingin tanya tentang Bimtek/Diklat Pemda` %>"><i
                class="fab fa-whatsapp fa-lg">
            </i><strong> Pendaftaran</strong></a>
    </div>
    <div class="sdb_holder">
        <h6>Hubungi Kami</h6>
        <address>
            <!-- Alamat<br> -->
            <%- `Telepon: ${code(profile['phone'])}<br>` %>
                <%- `Email: ${emailAddBr(profile['email'])}` %>
        </address>
    </div>
    <div class="sdb_holder">
        <h6>Alamat</h6>
        <address>
            <!-- Alamat<br> -->
            <%= profile['address'] %> <br>
                <%= `${profile['city']}` %><br>
                    <%= `${profile['district']}` %><br><br>
                        <%= `Kode Pos ${profile['postcode']}` %><br>
                            <br>
                            <!-- Tel: <%= `Kode Pos ${profile['postcode']}` %><br><br>
                            Email: <a href="#">contact@domain.com</a> -->
        </address>
    </div>


    <!-- <h6>Jadwal Bimtek Terbaru</h6>
    <nav class="sdb_holder">
        <ul>
            <li><a href="#">Navigation - Level 1</a></li>
            <li><a href="#">Navigation - Level 1</a>
                <ul>
                    <li><a href="#">Navigation - Level 2</a></li>
                    <li><a href="#">Navigation - Level 2</a></li>
                </ul>
            </li>
            <li><a href="#">Navigation - Level 1</a>
                <ul>
                    <li><a href="#">Navigation - Level 2</a></li>
                    <li><a href="#">Navigation - Level 2</a>
                        <ul>
                            <li><a href="#">Navigation - Level 3</a></li>
                            <li><a href="#">Navigation - Level 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Navigation - Level 1</a></li>
        </ul>
    </nav>

    <div class="sdb_holder">
        <article>
            <h6>Lorem ipsum dolor</h6>
            <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit</a></li>
                <li>Etiam vel sapien et</li>
                <li><a href="#">Etiam vel sapien et</a></li>
            </ul>
            <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.
                Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
            <p class="more"><a href="#">Continue Reading &raquo;</a></p>
        </article>
    </div> -->
    <!-- ################################################################################################ -->
</div>