<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title"> Tambah Data Publikasi </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Jadwal</a></li>
                                            <li class="breadcrumb-item"><a href="/admin/publication">Publikasi</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Tambah Data</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row">
                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- <h4 class="card-title">Basic form elements</h4>
                                                <p class="card-description"> Basic form elements </p> -->
                                                <%if (messageFlash) { %>
                                                    <div class="alert alert-<%= colorFlash %> alert-dismissible fade show mt-3"
                                                        role="alert">
                                                        <strong>
                                                            <%= statusFlash %>
                                                        </strong>
                                                        <%= messageFlash %>
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>
                                                        <form action="/admin/publication" method="POST"
                                                            enctype="multipart/form-data">
                                                            <input type="hidden" value="./public/storage/news/"
                                                                name="path">
                                                            <div class="form-group">
                                                                <label>Judul</label>
                                                                <input type="text" class="form-control" name="title"
                                                                    placeholder="Judul Publikasi" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>File upload</label>
                                                                <input type="file" name="images"
                                                                    class="file-upload-default" accept="image/*">
                                                                <div class="input-group col-xs-12">
                                                                    <input type="text"
                                                                        class="form-control file-upload-info"
                                                                        disabled="" placeholder="Unggah Gambar">
                                                                    <span class="input-group-append">
                                                                        <button
                                                                            class="file-upload-browse btn btn-primary"
                                                                            type="button">Unggah</button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail3">Teks Publikasi</label>
                                                                <textarea name="teks" id="editor1" rows="10" required
                                                                    cols="80"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Sumber Berita (kosongkan jika publikasi
                                                                    orisinil)</label>
                                                                <input type="text" class="form-control" name="reference"
                                                                    placeholder="Sumber Berita">
                                                            </div>
                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Tambahkan</button>
                                                            <button type="reset" class="btn btn-dark">Cancel</button>
                                                        </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../../base/footer'); %>
                                <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <%- include('../../base/assetsJs'); %>
            <script src="/assets/admin/ckeditor/ckeditor.js"></script>
            <script src="/assets/admin/js/file-upload.js"></script>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                CKEDITOR.replace('editor1');
            </script>

    </body>

</html>