<!DOCTYPE html>
<html lang="en">

<%- include('../../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../../base/navbar'); %>
                        <div class="main-panel">

                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title"> Publikasi </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Jadwal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Publikasi</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row ">
                                    <%if (message) { %>
                                        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
                                            <!-- <div class="card"> -->
                                            <div class="card-body">
                                                <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                    role="alert">
                                                    <%= message %>
                                                        <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                        <% } %>
                                            <% news.forEach(function(val) { %>
                                                <div class="col-md-4 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex flex-row justify-content-between">
                                                                <h5 class="card-title">
                                                                    <%= date(val.createdAt) %>
                                                                </h5>
                                                                <button type="button"
                                                                    class="btn btn-dark btn-rounded btn-icon"
                                                                    data-id="<%= val.id %>"
                                                                    style="width: 30px; height: 30px; padding: 7px;"
                                                                    onclick="deleted(this)">
                                                                    <i class='remove mdi mdi-close-box'></i>
                                                                </button>
                                                            </div>

                                                            <div class="item img-item">
                                                                <img src="/assets/storage/news/<%= val.image %>"
                                                                    alt="<%= val.image %>">
                                                            </div>

                                                            <div class="d-flex py-4"
                                                                style="padding-bottom: 0 !important;">
                                                                <div class="preview-list w-100">
                                                                    <div class="preview-item p-0">
                                                                        <!-- <div class="preview-thumbnail">
                                                                <img src="assets/images/faces/face12.jpg"
                                                                    class="rounded-circle" alt="">
                                                            </div> -->
                                                                        <div
                                                                            class="preview-item-content d-flex flex-grow">
                                                                            <div class="flex-grow">
                                                                                <div
                                                                                    class="d-flex d-md-block d-xl-flex justify-content-between">
                                                                                    <a href="/publication/<%- val.id %>/"
                                                                                        target="_blank"
                                                                                        rel="noopener noreferrer">
                                                                                        <h6 class="preview-subject">
                                                                                            <%= val.title %>
                                                                                        </h6>
                                                                                    </a>

                                                                                </div>
                                                                                <!-- <p class="text-muted text-small">
                                                                            <%= date(val.createdAt) %>
                                                                        </p> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../../base/footer'); %>
                                <!-- partial -->
                        </div>
                </div>
                <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <%- include('../../base/assetsJs'); %>
            <script src="/assets/admin/js/sweetalert.min.js"></script>
            <script>
                function deleted(element) {
                    swal({
                        title: "Hapus Publikasi Ini?",
                        text: "Data yang dihapus tidak dapat dikembalikan lagi!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/admin/publication/${$(element).attr("data-id")}`,
                                method: "DELETE",
                                success: function (data) {
                                    swal("Good Job!", data.message, "success").then(
                                        $(element).closest(".stretch-card")[0].remove()
                                    );

                                },
                                error: function (xhr) {
                                    swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                    console.log(xhr.status)
                                }
                            });
                        } else {
                            swal("Hapus Dibatalkan!");
                        }
                    });
                }
            </script>

    </body>

</html>