<!DOCTYPE html>
<html lang="en">

<%- include('../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../base/navbar'); %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title"> Profil Web</h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Jadwal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Profil Web</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row">
                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <%if (messageFlash) { %>
                                                    <div class="alert alert-<%= colorFlash %> alert-dismissible fade show mt-3"
                                                        role="alert">
                                                        <strong>
                                                            <%= statusFlash %>
                                                        </strong>
                                                        <%= messageFlash %>
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>
                                                        <h4 class="card-title">Pengaturan Profil</h4>
                                                        <!-- <p class="card-description"> Basic form elements </p> -->
                                                        <form class="forms-sample" action="/admin/profile"
                                                            method="POST">
                                                            <input type="hidden" value="./public/storage/profile/"
                                                                name="path">
                                                            <div class="form-group">
                                                                <label>Nama Web</label>
                                                                <input type="text" class="form-control" name="title"
                                                                    placeholder="Name" value="<%=profile.title%>">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <label>Alamat Email</label>
                                                                        <input type="email" class="form-control"
                                                                            name="email" placeholder="Email"
                                                                            value="<%= profile.email %> ">
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <label>Telepon</label>
                                                                        <input type="text" class="form-control"
                                                                            name="phone" placeholder="Telepon"
                                                                            value="<%= profile.phone %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">

                                                                    <div class="form-group">
                                                                        <label>Alamat</label>
                                                                        <textarea type="text" class="form-control"
                                                                            name="address" placeholder="ALamat"
                                                                            rows="12"><%= profile.address %></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">

                                                                    <div class="form-group">
                                                                        <label>Provinsi</label>
                                                                        <input type="text" class="form-control"
                                                                            name="district" placeholder="Provinsi"
                                                                            value="<%= profile.district %>">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Kota</label>
                                                                        <input type="text" class="form-control"
                                                                            name="city" placeholder="Kota"
                                                                            value="<%= profile.city %>">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Kode Pos</label>
                                                                        <input type="text" class="form-control"
                                                                            name="postcode" placeholder="Kode Pos"
                                                                            value="<%= profile.postcode %>">
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label>Deskripsi</label>
                                                                <!-- <textarea class="form-control"
                                                            rows="4"></textarea> -->
                                                                <textarea name="teks" id="editor1" rows="10"
                                                                    cols="80"><%= profile.description %></textarea>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                <label>Gambar Header</label>
                                                                <input type="file" name="images"
                                                                    class="file-upload-default">
                                                                <div class="input-group col-xs-12">
                                                                    <input type="text"
                                                                        class="form-control file-upload-info"
                                                                        disabled="" placeholder="Upload Image">
                                                                    <span class="input-group-append">
                                                                        <button
                                                                            class="file-upload-browse btn btn-primary"
                                                                            type="button">Unggah</button>
                                                                    </span>
                                                                </div>
                                                            </div> -->
                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Ubah</button>
                                                            <!-- <button class="btn btn-dark">Cancel</button> -->
                                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../base/footer'); %>
                                <!-- partial -->
                        </div>
                </div>
                <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <%- include('../base/assetsJs'); %>
            <script src="/assets/admin/ckeditor/ckeditor.js"></script>
            <script src="/assets/admin/js/file-upload.js"></script>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                CKEDITOR.replace('editor1');
            </script>

    </body>

</html>