<!DOCTYPE html>
<html lang="en">

<%- include('../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../base/navbar'); %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title"> Data Bawaan </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Charts</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Chart-js</li>
                                        </ol>
                                    </nav>
                                </div>

                                <%if (message) { %>
                                    <div class="alert alert-<%= color %> alert-dismissible fade show mt-3" role="alert">
                                        <%= message %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <% } %>

                                        <div class="row">
                                            <div class="col-lg-6 grid-margin stretch-card">
                                                <div class="card">
                                                    <!-- Tambah Sub Bimtek -->
                                                    <div class="card-body" id="form-subbimtek" hidden>
                                                        <h4 class="card-title">Tambah Sub Bimtek</h4>
                                                        <!-- <p class="card-description"> Basic form elements </p> -->
                                                        <form class="forms-sample" action="/admin/default/subbimtek"
                                                            method="POST">

                                                            <div class="form-group">
                                                                <label>Sub Bimtek</label>
                                                                <input type="text" class="form-control"
                                                                    name="sub_bimtek" required>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Tambahkan</button>
                                                            <button type="button" class="btn btn-dark"
                                                                onclick="showForm('form-subbimtek', 'hide')">Batal</button>
                                                        </form>
                                                    </div>
                                                    <!-- Edit Sub Bimtek -->
                                                    <div class="card-body" id="edit-subbimtek" hidden>
                                                        <h4 class="card-title">Edit Sub Bimtek</h4>
                                                        <!-- <p class="card-description"> Basic form elements </p> -->
                                                        <form class="forms-sample"
                                                            action="/admin/default/subbimtek/update" method="POST">
                                                            <input type="hidden" class="form-control" name="id"
                                                                required>
                                                            <div class="form-group">
                                                                <label>Sub Bimtek</label>
                                                                <input type="text" class="form-control"
                                                                    name="sub_bimtek" required>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Ubah</button>
                                                            <button type="button" class="btn btn-dark"
                                                                onclick="showEditForm('edit-subbimtek', 'hide')">Batal</button>
                                                        </form>
                                                    </div>
                                                    <!-- Daftar Sub BImtek -->
                                                    <div class="card-body form-subbimtek edit-subbimtek">
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <h4 class="card-title">Sub Bimtek</h4>
                                                            <button type="button"
                                                                class="btn btn-outline-primary btn-icon-text"
                                                                onclick="showForm('form-subbimtek', 'show')">
                                                                <i
                                                                    class="mdi mdi-file-check btn-icon-prepend"></i>Tambah</button>
                                                        </div>
                                                        <div class="preview-list scroll style-6">
                                                            <% if (bimtek_sub.length> 0) { %>
                                                                <% bimtek_sub.forEach(function (ele) { %>
                                                                    <div class="preview-item border-bottom">
                                                                        <div class="preview-thumbnail d-sm-flex">
                                                                            <div class="preview-icon bg-warning"
                                                                                style="width: 20px; height: 20px; padding: 2px 2px 0px 2px;"
                                                                                onclick="showEditForm('edit-subbimtek', 'show', '<%-ele.id %>', '<%= ele.sub_bimtek %>')">
                                                                                <i class="mdi mdi-pencil"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>&nbsp;
                                                                            <div class="preview-icon bg-danger" style="width: 20px;
                                                                    height: 20px; padding: 2px 2px 0px 2px;"
                                                                                onclick="window.location='/admin/default/subbimtek/<%-ele.id %>'">
                                                                                <i class="mdi mdi-delete"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="preview-item-content d-sm-flex flex-grow">
                                                                            <div class="flex-grow">
                                                                                <p class="text-muted mb-0 mt-1">
                                                                                    <%= ele.sub_bimtek %>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% })} else { %>
                                                                        <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                                            role="alert">
                                                                            Tidak terdapat data sub bimtek.
                                                                        </div>
                                                                        <% }%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 grid-margin stretch-card">
                                                <div class="card">
                                                    <!-- Tambah Lokasi -->
                                                    <div class="card-body" id="form-location" hidden>
                                                        <h4 class="card-title">Tambah Kota</h4>
                                                        <form class="forms-sample" action="/admin/default/location"
                                                            method="POST">

                                                            <div class="form-group">
                                                                <label>Kota</label>
                                                                <input type="text" class="form-control" name="location"
                                                                    required>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Tambahkan</button>
                                                            <button type="button" class="btn btn-dark"
                                                                onclick="showForm('form-location', 'hide')">Batal</button>
                                                        </form>
                                                    </div>
                                                    <!-- Edit Lokasi -->
                                                    <div class="card-body" id="edit-location" hidden>
                                                        <h4 class="card-title">Edit Kota</h4>
                                                        <form class="forms-sample"
                                                            action="/admin/default/location/update" method="POST">
                                                            <input type="hidden" class="form-control" name="id"
                                                                required>
                                                            <div class="form-group">
                                                                <label>Kota</label>
                                                                <input type="text" class="form-control" name="location"
                                                                    required>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Ubah</button>
                                                            <button type="button" class="btn btn-dark"
                                                                onclick="showEditForm('edit-location', 'hide')">Batal</button>
                                                        </form>
                                                    </div>
                                                    <!-- Daftar Lokasi -->
                                                    <div class="card-body form-location edit-location">
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <h4 class="card-title">Kota Pelaksanaan</h4>
                                                            <button type="button"
                                                                class="btn btn-outline-primary btn-icon-text"
                                                                onclick="showForm('form-location', 'show')">
                                                                <i
                                                                    class="mdi mdi-file-check btn-icon-prepend"></i>Tambah</button>
                                                        </div>
                                                        <div class="preview-list scroll style-6">
                                                            <% if (location.length> 0) { %>
                                                                <% location.forEach(function (ele) { %>
                                                                    <div class="preview-item border-bottom">
                                                                        <div class="preview-thumbnail d-sm-flex">
                                                                            <div class="preview-icon bg-warning"
                                                                                style="width: 20px; height: 20px; padding: 2px 2px 0px 2px;"
                                                                                onclick="showEditForm('edit-location', 'show', '<%-ele.id %>', '<%= ele.location %>')">
                                                                                <i class="mdi mdi-pencil"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>&nbsp;
                                                                            <div class="preview-icon bg-danger"
                                                                                style="width: 20px;
                                                                                height: 20px; padding: 2px 2px 0px 2px;"
                                                                                onclick="window.location='/admin/default/location/<%-ele.id %>'">
                                                                                <i class="mdi mdi-delete"
                                                                                    style="font-size: 1rem;"></i>
                                                                            </div>
                                                                        </div>

                                                                        <div
                                                                            class="preview-item-content d-sm-flex flex-grow">
                                                                            <div class="flex-grow">
                                                                                <p class="text-muted mt-1">
                                                                                    <%= ele.location %>
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <% })} else { %>
                                                                        <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                                            role="alert">
                                                                            Tidak terdapat data kota
                                                                        </div>
                                                                        <% }%>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 grid-margin stretch-card">
                                                <div class="card">
                                                    <!-- Edit Layanan -->
                                                    <div class="card-body" id="form-pack" hidden>
                                                        <h4 class="card-title">Edit Paket Layanan</h4>
                                                        <form id="forms-sample" action="/admin/default/pack"
                                                            method="POST">
                                                            <input type="hidden" name="id">
                                                            <div class="form-group">
                                                                <label>Biaya</label>
                                                                <input type="text" class="form-control" name="cost"
                                                                    required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Deksripsi Layanan</label>
                                                                <textarea name="description" id="editor1" rows="10"
                                                                    cols="80"></textarea>
                                                            </div>
                                                            <button type="submit"
                                                                class="btn btn-primary mr-2">Ubah</button>
                                                            <button type="button" class="btn btn-dark"
                                                                onclick="showForm('form-pack', 'hide')">Batal</button>
                                                        </form>
                                                    </div>
                                                    <!-- Daftar Layanan -->
                                                    <div class="card-body form-pack">
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <h4 class="card-title mb-1">Paket Layanan</h4>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="preview-list">
                                                                    <% if (pack.length> 0) { %>
                                                                        <% pack.forEach(function (ele) { %>
                                                                            <div class="preview-item border-bottom">
                                                                                <div class="preview-thumbnail">
                                                                                    <div class="preview-icon bg-warning"
                                                                                        onclick="packEdit('<%= ele.id %>', '<%= ele.pack %>', '<%= ele.cost %>', this)">
                                                                                        <i class="mdi mdi-pencil"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="preview-item-content d-sm-flex flex-grow">
                                                                                    <div class="flex-grow">
                                                                                        <h6 class="preview-subject">
                                                                                            <%= ele.pack %>
                                                                                        </h6>
                                                                                        <div class="text-muted mb-0">
                                                                                            <%- ele.description %>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="me-auto text-sm-right pt-2 pt-sm-0">
                                                                                        <h6 class="preview-subject">
                                                                                            Rp.<%= ele.cost %>
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% })} else { %>
                                                                                <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                                                    role="alert">
                                                                                    Tidak terdapat data paket layanan
                                                                                </div>
                                                                                <% }%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <footer class="footer">
                                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                    <span
                                        class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                        © bootstrapdash.com 2021</span>
                                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                                            href="https://www.bootstrapdash.com/bootstrap-admin-template/"
                                            target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
                                </div>
                            </footer>
                        </div>
                </div>
        </div>
        <!-- container-scroller -->

        <%- include('../base/assetsJs'); %>
            <script src="/assets/admin/ckeditor/ckeditor.js"></script>
            <script>
                CKEDITOR.replace('editor1');

                function showForm(className, method) {
                    if (method == 'show') {
                        $('#' + className).removeAttr('hidden');
                        $('.' + className).attr('hidden', true);
                    } else {
                        $(`#${className}`).attr('hidden', true);
                        $('.' + className).removeAttr('hidden');
                    }
                }

                function showEditForm(className, method, id, value) {
                    const editForm = $('#' + className)
                    if (method == 'show') {
                        editForm.find("input[type='hidden']").val(id);
                        editForm.find("input[type='text']").val(value);
                        editForm.removeAttr('hidden');
                        $('.' + className).attr('hidden', true);
                    } else {
                        editForm.find("input").val("");
                        editForm.attr('hidden', true);
                        $('.' + className).removeAttr('hidden');
                    }
                }

                const form = $('form#forms-sample');
                function packEdit(id, pack, cost, ele) {
                    const desc = $(ele).closest('.preview-item.border-bottom').find('div.text-muted').html();
                    $(form).find("input[name='id']").val(id);
                    $(form).find("input[name='cost']").val(cost);
                    CKEDITOR.instances.editor1.setData(desc);
                    $('#form-pack').removeAttr('hidden');
                    $('.form-pack').attr('hidden', true);

                }


            </script>
    </body>

</html>