<!DOCTYPE html>
<html lang="en">

<%- include('../base/header'); %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <%- include('../base/sidebar'); %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_navbar.html -->
                    <%- include('../base/navbar'); %>
                        <div class="main-panel">

                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title"> Galeri </h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/schedule">Jadwal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Galeri</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="row ">

                                    <div class="col-12 grid-margin stretch-card add-data" hidden="true">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Tambah Galeri</h4>
                                                <form class="forms-sample" action="/admin/gallery" method="POST"
                                                    enctype="multipart/form-data">
                                                    <input type="hidden" value="./public/storage/galery/" name="path">
                                                    <div class="form-group">
                                                        <label>Judul Foto</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Unggah Foto (Maks 8) (Ukuran Ideal 1024 x 768)</label>
                                                        <input type="file" name="images" class="file-upload-default"
                                                            accept="image/*" multiple required>
                                                        <div class="input-group col-xs-12">
                                                            <input type="text" class="form-control file-upload-info"
                                                                disabled="" placeholder="Unggah Gambar">
                                                            <span class="input-group-append">
                                                                <button class="file-upload-browse btn btn-primary"
                                                                    type="button">Unggah</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <button type="submit"
                                                        class="btn btn-primary mr-2">Tambahkan</button>
                                                    <button type="button" class="btn btn-dark"
                                                        onclick="showAddData(false)">Batal</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <%if (message) { %>
                                        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
                                            <!-- <div class="card"> -->
                                            <div class="card-body">
                                                <div class="alert alert-<%= color %> alert-dismissible fade show mt-3"
                                                    role="alert">
                                                    <%= message %>
                                                        <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                        <% } %>

                                            <% var i=1; getGallery.forEach(function (val){ %>

                                                <div class="col-md-6 col-xl-4 grid-margin stretch-card"
                                                    data-id="<%= val.id %>">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">
                                                                <%= dateFormat(val.createdAt) %>
                                                            </h4>

                                                            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel owl-carousel-basic"
                                                                id="owl-carousel-basic">
                                                                <% val.gallery_files.forEach(function (val2) { %>
                                                                    <div class="item">
                                                                        <img src="/assets/storage/galery/<%= val2.image %>"
                                                                            alt="<%= val2.image %>" />
                                                                    </div>
                                                                    <% }) %>
                                                                        <div class="item">
                                                                            <img src="/assets/storage/galery/474247.jpg"
                                                                                alt="474247" />
                                                                        </div>
                                                            </div>
                                                            <div class="d-flex py-4"
                                                                style="padding-bottom: 0 !important;">
                                                                <div class="preview-list w-100">
                                                                    <div class="preview-item p-0">
                                                                        <!-- <div class="preview-thumbnail">
                                                                <img src="assets/images/faces/face12.jpg"
                                                                    class="rounded-circle" alt="">
                                                            </div> -->
                                                                        <div
                                                                            class="preview-item-content d-flex flex-grow">
                                                                            <div class="flex-grow">
                                                                                <div
                                                                                    class="d-flex d-md-block d-xl-flex justify-content-between">
                                                                                    <h6 class="preview-subject">
                                                                                        <%= val.title %>
                                                                                    </h6>

                                                                                </div>
                                                                                <!-- <p class="text-muted text-small">
                                                                                    4 Hours
                                                                                    Ago
                                                                                </p> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <p class="text-muted">Well, it seems to be working now. </p> -->
                                                            <!-- <div class="progress progress-md portfolio-progress">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div> -->
                                                        </div>
                                                    </div>
                                                </div>


                                                <% }); %>
                                </div>
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:partials/_footer.html -->
                            <%- include('../base/footer'); %>
                                <!-- partial -->
                        </div>
                </div>
                <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <%- include('../base/assetsJs'); %>
            <script src="/assets/admin/js/sweetalert.min.js"></script>
            <script src="/assets/admin/js/file-upload.js"></script>
            <script>
                const addData = $('.add-data');
                const formElement = $(addData).find("form")[0];

                $(document).ready(function () {
                    showAddData(null);
                });

                function showAddData(param) {
                    const isSHow = localStorage.getItem('add-Data');
                    $(addData).find('form')[0].reset();
                    if (isSHow == 'true') {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == true) {
                        $(addData).removeAttr('hidden');
                        window.scrollTo(0, 0);
                    } else if (param == false) {
                        $(addData).attr('hidden', true);
                    }
                    $(formElement).attr('action', `/admin/gallery`);
                    localStorage.setItem('add-Data', false);
                }

                $(document).on('click', '.mdi-close-box', function () {
                    const ele = $(this).closest('.stretch-card')[0];
                    swal({
                        title: "Hapus Jadwal Ini?",
                        text: "Data yang dihapus tidak dapat dikembalikan lagi!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/admin/gallery/${$(ele).data("id")}`,
                                method: "DELETE",
                                success: function (data) {
                                    swal("Good Job!", data.message, "success").then(
                                        $(ele).remove()
                                    );
                                },
                                error: function (xhr) {
                                    swal("Gagal Dihapus!", xhr.responseJSON.message, "error");
                                    console.log(xhr.status)
                                }
                            });
                        } else {
                            swal("Hapus Dibatalkan!");
                        }
                    });
                })

                // function edit(element) {
                //     const ele = $(element).closest('form')[0];

                //     const id = $(element).attr("data-id");
                //     const title = $(element).attr("data-title");


                //     $(`input[name='title']`).val(title);
                //     $(formElement).attr('action', `/admin/gallery/${id}`);
                //     window.scrollTo(0, 0);


                //     $('.add-data').removeAttr('hidden');
                // }
            </script>

    </body>

</html>