<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/bimtek.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Materi Bimbingan Teknis</h2> -->
                            <h2 style="text-align: center;margin-bottom: 5;">
                                <%= bimtek_sub.sub_bimtek %>
                            </h2>
                            <ul>
                                <% bimtek_sub.bimteks.forEach(function(val) { %>
                                    <li>
                                        <article>
                                            <div class="comcont">
                                                <%- sentenceCase(val.title) %>
                                            </div>
                                        </article>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>


    </body>

    </html>