<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/bimtek.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Materi Bimbingan Teknis</h2> -->
                            <ul>
                                <% bimtek_sub.forEach(function(val) { %>
                                    <li>
                                        <article>
                                            <header>
                                                <!-- <figure class="avatar"><img src="../images/demo/avatar.png" alt="">
                                                    </figure> -->
                                                <address>

                                                    <a href="/bimtek/<%= val.id %>">
                                                        <%= val.sub_bimtek %>
                                                    </a>
                                                </address>
                                                <!-- <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup>
                                                        April
                                                        2045 @08:15:00</time> -->
                                            </header>
                                            <!-- <div class="comcont">
                                                    <p>This is an example of a comment made on a post. You can
                                                        either edit
                                                        the comment, delete the comment or reply to the comment. Use
                                                        this as
                                                        a place to respond to the post or to share what you are
                                                        thinking.
                                                    </p>
                                                </div> -->
                                        </article>
                                    </li>
                                    <% }); %>
                            </ul>
                            <!-- <h2>Write A Comment</h2>
                                <form action="#" method="post">
                                    <div class="one_third first">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" name="name" id="name" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="email">Mail <span>*</span></label>
                                        <input type="email" name="email" id="email" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="url">Website</label>
                                        <input type="url" name="url" id="url" value="" size="22">
                                    </div>
                                    <div class="block clear">
                                        <label for="comment">Your Comment</label>
                                        <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" name="submit" value="Submit Form">
                                        &nbsp;
                                        <input type="reset" name="reset" value="Reset Form">
                                    </div>
                                </form> -->
                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>


    </body>

    </html>