<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/galeri.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">
                        <!-- ################################################################################################ -->
                        <div id="gallery">
                            <% gallery.forEach(function (val){ %>
                                <figure>
                                    <header class="heading">
                                        <%= val.title %>
                                    </header>
                                    <ul class="nospace clear gallery">
                                        <% var i=1; val.gallery_files.forEach(function (val2){ %>
                                            <li class="one_quarter <%- i == 1 || i == 5 ? 'first' : ''%>"><a href="#">
                                                    <img src="/assets/storage/galery/<%= val2.image %>"
                                                        alt="<%= val2.image %>" data-largesrc="<%= i %>" />
                                                </a></li>
                                            <% i++ })%>
                                    </ul>
                                    <!-- <figcaption>Gallery Description Goes Here</figcaption> -->
                                </figure>
                                <%})%>
                        </div>
                        <!-- ################################################################################################ -->
                        <!-- ################################################################################################ -->
                        <!-- <nav class="pagination">
                                <ul>
                                    <li><a href="#">&laquo; Previous</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><strong>&hellip;</strong></li>
                                    <li><a href="#">6</a></li>
                                    <li class="current"><strong>7</strong></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><strong>&hellip;</strong></li>
                                    <li><a href="#">14</a></li>
                                    <li><a href="#">15</a></li>
                                    <li><a href="#">Next &raquo;</a></li>
                                </ul>
                            </nav> -->
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>
                <div id="fullpage" onclick="this.style.display='none';"></div>
                <script>
                    function getPics() { } //just for this demo
                    const imgs = document.querySelectorAll('.gallery img');
                    const fullPage = document.querySelector('#fullpage');

                    imgs.forEach(img => {
                        img.addEventListener('click', function () {
                            fullPage.style.backgroundImage = 'url(' + img.src + ')';
                            fullPage.style.display = 'block';
                        });
                    });
                </script>




    </body>

    </html>