<%- include('../base/header'); %>


    <body id="top">

        <%- include('../base/navbar1'); %>

            <%- include('../base/navbar2'); %>

                <div class="wrapper bgded overlay" id="headerImg" style="
                background-image: url(' <%= `/assets/storage/profile/beranda.jpeg` %>'); ">
                    <div id=" pageintro" class="hoc clear">
                        <!-- ################################################################################################ -->
                        <!-- <article>
                        <p>Leo suspendisse nec urna a arcu.</p>
                        <h3 class="heading">Lobortis gravida elementum ante non mi fusce</h3>
                        <footer><a class="btn" href="#"><strong>Euismod nullam</strong></a></footer>
                    </article> -->
                        <!-- ################################################################################################ -->
                    </div>
                </div>

                <div class="wrapper row3">
                    <main class="hoc container clear">
                        <!-- main body -->
                        <!-- ################################################################################################ -->
                        <section>
                            <!-- <article class="one_third first">
                            <p>Ipsum primis in faucibus.</p>
                            <h6 class="heading font-x2">Orci luctus et ultrices posuere cubilia curae vestibulum diam
                                nisi
                                dapibus a tincidunt eu ultricies in nunc proin</h6>
                            <footer><a class="btn" href="#">Auctor justo ac</a></footer>
                        </article> -->
                            <!-- <div class="group"> -->
                            <ul class="nospace group" style="text-align: center;">
                                <li class="one_quarter first btmspace-30"><i class="icon btmspace-30 fa fa-gavel"></i>
                                    <h6 class="heading">Legal</h6>
                                    <p>Berbadan hukum berdasarkan KEPMEN Hukum dan HAM RI NO. AHU-009065.AH.01.07.TAHUN
                                        2017</p>
                                </li>
                                <li class="one_quarter btmspace-30"><i class="icon btmspace-30 fa fa-history "></i>
                                    <h6 class="heading">Berpengalaman</h6>
                                    <p>Telah terlibat dalam kegitan bimbingan teknis dan diklat sejak tahun 2016.</p>
                                </li>
                                <li class="one_quarter"><i class="icon btmspace-30 fas fa-random"></i>
                                    <h6 class="heading">Fleksibel</h6>
                                    <p>Waktu dan lokasi pelaksaan bimtek menyesuaikan dengan keinginan peserta.</p>
                                </li>
                                <li class="one_quarter"><i class="icon btmspace-30 fa fa-check"></i>
                                    <h6 class="heading">Profesional</h6>
                                    <p>Memiliki kerjasama dengan narasumber nasional dan kredibel pada bidangnya.</p>
                                </li>
                            </ul>
                            <!-- </div> -->
                        </section>
                        <!-- ################################################################################################ -->
                        <!-- / main body -->
                        <div class="clear"></div>
                    </main>
                </div>

                <!-- Jadwal BIMTEK -->
                <% if(schedule) { %>
                    <div class="wrapper bgded">
                        <div class="hoc container clear">
                            <section>
                                <div class="sectiontitle">
                                    <!-- <p class="nospace font-xs">Eu metus suspendisse ut ligula</p> -->
                                    <h6 class="heading font-x2">Jadwal Bimtek</h6>
                                </div>

                                <!-- <p>Vel porttitor eu diam donec.</p>
                        <h6 class="heading font-x2">Dolor nisl ultrices ac euismod</h6>
                        <p class="btmspace-30">Eu rutrum sed tortor integer vitae felis vel magna posuere vestibulum
                            pellentesque ullamcorper odio sed tempus sodales.</p> -->
                                <ul class="nospace btmspace-50">
                                    <% schedule.forEach(function(val) { %>
                                        <% val.bimtek_schedules.forEach(function(val2) { %>
                                            <li class="btmspace-10"><i class="fas fa-check-circle"></i>
                                                <%= val2.bimtekId=='0' ? `Pelaksanaan Bimtek ${val2.eventCity}` :
                                                    val.title ; %>
                                                    <%=` (${val2.bimtekId=='0' ? val2.eventLocation : `${val2.eventCity}
                                                        ${val2.eventLocation},`} ${date(val2.dateStart)} -
                                                        ${date(val2.dateFinish)})`%>


                                            </li>
                                            <% })}); %>
                                </ul>
                                <footer><a class="btn" href="/schedule">Lihat Lengkapnya &raquo;</a></footer>

                            </section>
                        </div>
                    </div>
                    <% } %>


                        <div class="wrapper coloured">
                            <article class="hoc cta clear">
                                <h6 class="three_quarter first font-x2">Informasi terkait pendaftaran?
                                </h6>
                                <footer class="one_quarter">
                                    <a class="btn" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=6285159588005&text=Halo, saya ingin tanya tentang Bimtek/Diklat Pemda"><i
                                            class="fab fa-whatsapp fa-lg">
                                        </i><strong> Pendaftaran</strong></a>
                                </footer>
                            </article>
                        </div>

                        <!-- PUBLIKASI -->
                        <div class="wrapper row2">
                            <section class="hoc container clear">
                                <div class="sectiontitle">
                                    <!-- <p class="nospace font-xs">Ut mollis pharetra nisi lorem vulputate</p> -->
                                    <h6 class="heading">PUBLIKASI</h6>
                                </div>
                                <ul id="latest" class="nospace group grid-3">
                                    <% news.forEach(function(val) { %>


                                        <li class="one_third">
                                            <article>
                                                <figure>
                                                    <!-- <a class="imgover" href="<%= val.reference %>"
                                                        target="_blank"> -->
                                                    <img src="/assets/storage/news/<%= val.image %>"
                                                        alt="<%= val.title %>">
                                                    <!-- </a> -->
                                                </figure>
                                                <div class=" excerpt">
                                                    <ul class="nospace meta clear">
                                                        <!-- <li><i class="fas fa-user"></i> <a href="#">Admin</a></li> -->
                                                        <li>
                                                            <time datetime="2045-04-06T08:15+00:00">
                                                                <%= date(val.createdAt) %>
                                                            </time>
                                                        </li>
                                                    </ul>
                                                    <!-- <h6 class="heading">
                                                        <%= val.title %>
                                                    </h6> -->
                                                    <p>
                                                        <%= val.title %>
                                                    </p>

                                                    <footer><a href="/publication/<%- val.id %>/" target="_blank">
                                                            Baca Selengkapnya</a>
                                                    </footer>
                                                </div>
                                            </article>
                                        </li>
                                        <% }); %>
                                </ul>

                            </section>
                        </div>

                        <!-- Materi BIMTEK -->
                        <div class="wrapper bgded">
                            <div class="hoc container clear">
                                <section>
                                    <div class="sectiontitle">
                                        <!-- <p class="nospace font-xs">Eu metus suspendisse ut ligula</p> -->
                                        <h6 class="heading font-x2">Materi Bimtek</h6>
                                    </div>

                                    <!-- <p>Vel porttitor eu diam donec.</p>
                        <h6 class="heading font-x2">Dolor nisl ultrices ac euismod</h6>
                        <p class="btmspace-30">Eu rutrum sed tortor integer vitae felis vel magna posuere vestibulum
                            pellentesque ullamcorper odio sed tempus sodales.</p> -->
                                    <ul class="nospace btmspace-50">
                                        <% bimtek.forEach(function(val) { %>
                                            <li class="btmspace-10"><i class="fas fa-check-circle"></i>
                                                <%= val.title %>
                                            </li>
                                            <% }); %>
                                    </ul>
                                    <footer><a class="btn" href="/bimtek">Lihat Lengkapnya &raquo;</a></footer>

                                </section>
                            </div>
                        </div>

                        <!-- GALERY -->
                        <div class="wrapper row3">
                            <main class="hoc container clear">
                                <div class="sectiontitle">
                                    <!-- <p class="nospace font-xs">Eu lorem vestibulum tincidunt in</p> -->
                                    <h6 class="heading">GALERI</h6>
                                </div>
                                <!-- main body -->
                                <div class="content">

                                    <div id="gallery">
                                        <figure>
                                            <!-- <header class="heading">Gallery Title Goes Here</header> -->
                                            <ul class="nospace clear gallery">
                                                <% galery.forEach(function callback(val, index){ %>

                                                    <li class="one_quarter <%= index == 0 || index == 4 ? ' first' : ''
                                                        %>">
                                                        <a href="#"><img src="assets/storage/galery/<%= val.image %>"
                                                                alt="<%= val.image %>"></a>
                                                    </li>
                                                    <% }); %>
                                            </ul>
                                            <!-- <figcaption>Gallery Description Goes Here</figcaption> -->
                                        </figure>
                                    </div>

                                    <!-- 
                        <nav class="pagination">
                            <ul>
                                <li><a href="#">&laquo; Previous</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><strong>&hellip;</strong></li>
                                <li><a href="#">6</a></li>
                                <li class="current"><strong>7</strong></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><strong>&hellip;</strong></li>
                                <li><a href="#">14</a></li>
                                <li><a href="#">15</a></li>
                                <li><a href="#">Next &raquo;</a></li>
                            </ul>
                        </nav> -->

                                </div>
                            </main>
                        </div>
                        <div id="fullpage" onclick="hideImg(this)"></div>


                        <%- include('../base/footer'); %>
                            <script>
                                const imgs = document.querySelectorAll('.gallery img');
                                const fullPage = document.querySelector('#fullpage');

                                imgs.forEach(img => {
                                    img.addEventListener('click', function (event) {
                                        // event.preventDefault()
                                        fullPage.style.backgroundImage = 'url(' + img.src + ')';
                                        fullPage.style.display = 'block';
                                    });
                                });

                                function hideImg(value) {
                                    value.style.display = 'none';
                                    document.getElementById('gallery').scrollIntoView();
                                }

                            </script>

    </body>

    </html>