<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay"
                style="background-image:url('/assets/images/backgrounds/publikasi.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Materi Bimbingan Teknis</h2> -->
                            <ul>
                                <% news.forEach(function(val) { %>
                                    <li>
                                        <article style="display: flow-root;">
                                            <figure class="avatar"><img src="<%= `/assets/storage/news/${val.image}` %>"
                                                    alt="<%= val.image %>" style="width: 100px;"></figure>
                                            <header>
                                                <!-- <address> -->
                                                <%= val.title %><br />
                                                    <!-- </address> -->
                                                    <time datetime="2045-04-06T08:15+00:00">
                                                        <%= `${date(val.createdAt)}` %>
                                                    </time>
                                                    <footer><a href="/publication/<%- val.id %>/" target="_blank">
                                                            Baca Selengkapnya</a>
                                                    </footer>
                                            </header>
                                        </article>
                                    </li>
                                    <% }); %>
                            </ul>
                            <!-- <h2>Write A Comment</h2>
                                <form action="#" method="post">
                                    <div class="one_third first">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" name="name" id="name" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="email">Mail <span>*</span></label>
                                        <input type="email" name="email" id="email" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="url">Website</label>
                                        <input type="url" name="url" id="url" value="" size="22">
                                    </div>
                                    <div class="block clear">
                                        <label for="comment">Your Comment</label>
                                        <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" name="submit" value="Submit Form">
                                        &nbsp;
                                        <input type="reset" name="reset" value="Reset Form">
                                    </div>
                                </form> -->
                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>


    </body>

    </html>