<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay"
                style="background-image:url('/assets/images/backgrounds/publikasi-show.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Materi Bimbingan Teknis</h2> -->
                            <ul>
                                <li>
                                    <article>
                                        <figure class="avatar" style="border: none;"></figure><img
                                            src="<%= `/assets/storage/news/${news['image']}` %>"
                                            alt="<%= news['image'] %>"
                                            style="margin: 0px 0px 20px 0px; border: none !important;">
                                        </figure>
                                        <header>
                                            <!-- <figure class="avatar"><img src="../images/demo/avatar.png" alt="">
                                                    </figure> -->
                                            <address>

                                            </address>
                                            <h2 style="text-align: center;margin-bottom: 0;">
                                                <%= `${news['title']}` %>
                                            </h2>
                                            <p style="text-align: center;margin-top: 0; ">
                                                <%= `${date(news['createdAt'])}` %>
                                            </p>
                                        </header>
                                        <div class="comcont" style="text-align: justify;">
                                            <p>
                                                <%- `${news['description']}` %>
                                            </p>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                            <!-- <h2>Write A Comment</h2>
                                <form action="#" method="post">
                                    <div class="one_third first">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" name="name" id="name" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="email">Mail <span>*</span></label>
                                        <input type="email" name="email" id="email" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="url">Website</label>
                                        <input type="url" name="url" id="url" value="" size="22">
                                    </div>
                                    <div class="block clear">
                                        <label for="comment">Your Comment</label>
                                        <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" name="submit" value="Submit Form">
                                        &nbsp;
                                        <input type="reset" name="reset" value="Reset Form">
                                    </div>
                                </form> -->
                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>


    </body>

    </html>