<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/jadwal.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Jadwal Bimbingan Teknis</h2> -->
                            <ul>
                                <% schedule.forEach(function(val) { %>

                                    <li>
                                        <article>
                                            <header>
                                                <address>
                                                    <b>
                                                        <%- `${val.bimtek.bimtekSubId !=0 ?
                                                            sentenceCase(val.bimtek.title) : `Pelaksanaan Bimtek
                                                            ${val.eventCity}` }<br>` %>
                                                    </b>
                                                </address>
                                                <p>
                                                    Lokasi Acara &emsp;&emsp;&emsp; : <%-`${val.eventLocation},
                                                        ${val.eventCity}<br>` %>
                                                        <%-`Waktu Pelaksanaan : ${dateFormat(val.dateStart)} -
                                                            ${dateFormat(val.dateFinish)}`%>
                                                </p>
                                            </header>
                                            <div class="comcont">
                                                <a href="/schedule/<%=val.id%>">
                                                    <%= `Selengkapnya` %>
                                                </a>

                                            </div>
                                        </article>
                                    </li>
                                    <% }); %>
                            </ul>

                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>


    </body>

    </html>