<%- include('../base/header'); %>

    <body id="top">

        <%- include('../base/navbar2'); %>

            <div class="wrapper bgded overlay" style="background-image:url('/assets/images/backgrounds/jadwal.jpeg');">
                <div id="breadcrumb" class="hoc clear">

                    <ul>
                        <li><a href="/">Beranda</a></li>
                    </ul>

                </div>
            </div>

            <!-- <div class="wrapper coloured">
                <article class="hoc cta clear">
                    
            <h6 class="three_quarter first font-x2">Nulla nec libero phasellus nec dolor sed ornare semper</h6>
            <footer class="one_quarter"><a class="btn" href="#"><strong>Ipsum vestibulum</strong></a></footer>
            
            </article>
            </div> -->

            <div class="wrapper row3">
                <main class="hoc container clear">
                    <!-- main body -->
                    <div class="content two_third first">

                        <div id="comments">
                            <!-- <h2>Daftar Jadwal Bimbingan Teknis</h2> -->
                            <ul>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <b>
                                                    <%- `${schedule.bimtek.bimtekSubId !=0 ?
                                                        sentenceCase(schedule.bimtek.title) : `Agenda Pelaksaan Bimtek`
                                                        }<br>` %>
                                                </b>
                                            </address>
                                            <p>
                                                Lokasi Acara &emsp;&emsp;&emsp; : <%-`${schedule.eventLocation},
                                                    ${schedule.eventCity}<br>` %>
                                                    <%-`Waktu Pelaksanaan : ${dateFormat(schedule.dateStart)} -
                                                        ${dateFormat(schedule.dateFinish)}`%>
                                            </p>
                                        </header>
                                        <div class="comcont">
                                            <br>
                                            <% if (schedule.servicePackId !=3) { %>

                                                <h6>Keterangan</h6>
                                                <p style="line-height: 2;">
                                                    Biaya Akomodasi : <%- `Rp.${schedule.service_pack.cost},00<br>` %>
                                                        Waktu CheckIn : <%- schedule.checkIn ? schedule.checkIn+`<br>
                                                            ` : `Tanpa Penginapan<br>`%>
                                                            Waktu CheckOut : <%- schedule.checkOut ? schedule.checkOut :
                                                                `Tanpa Penginapan<br>`%>

                                                </p>
                                                <br>
                                                <h6>Fasilitas Peserta</h6>
                                                <div class="description" style="line-height: 2;">
                                                    <%- schedule.service_pack.description %>
                                                </div>
                                                <br>
                                                <br>

                                                <% } else { pack.forEach(function(val) {%>

                                                    <h6>
                                                        <%-val.pack%>
                                                    </h6>
                                                    <p style="line-height: 2;">
                                                        Biaya Akomodasi : <%- `Rp.${val.cost},00<br>`%>
                                                            <% if (val.id==1) { %>
                                                                Waktu CheckIn : <%- schedule.checkIn ?
                                                                    schedule.checkIn+`<br>
                                                                    ` : `Tanpa Penginapan<br>`%>
                                                                    Waktu CheckOut : <%- schedule.checkOut ?
                                                                        schedule.checkOut : `Tanpa Penginapan<br>`%>
                                                                        <% } %>


                                                    </p>
                                                    <br>
                                                    <h6>Fasilitas Peserta</h6>
                                                    <div class="description" style="line-height: 2;">
                                                        <%- val.description %>
                                                    </div>
                                                    <br>
                                                    <br>

                                                    <% })} %>
                                                        <a href="/schedule">
                                                            <%= `Kembali` %>
                                                        </a>

                                        </div>
                                    </article>
                                </li>
                            </ul>
                            <!-- <h2>Write A Comment</h2>
                                <form action="#" method="post">
                                    <div class="one_third first">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" name="name" id="name" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="email">Mail <span>*</span></label>
                                        <input type="email" name="email" id="email" value="" size="22" required>
                                    </div>
                                    <div class="one_third">
                                        <label for="url">Website</label>
                                        <input type="url" name="url" id="url" value="" size="22">
                                    </div>
                                    <div class="block clear">
                                        <label for="comment">Your Comment</label>
                                        <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" name="submit" value="Submit Form">
                                        &nbsp;
                                        <input type="reset" name="reset" value="Reset Form">
                                    </div>
                                </form> -->
                        </div>
                        <!-- ################################################################################################ -->
                    </div>

                    <%- include('../base/sidebar'); %>

                        <!-- / main body -->
                        <div class="clear"></div>
                </main>
            </div>

            <%- include('../base/footer'); %>
                <script>

                    $(document).ready(function () {

                        $(".description").find('ol').css("line-height", "0px");
                    });
                </script>


    </body>

    </html>